@import url("https://fonts.googleapis.com/css?family=Lato:300");

html, body{
    display: grid;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.landing{
    display: grid;
    grid-template-rows: 85% 15%;
    background: linear-gradient(#e66465, #9198e5);
    /* justify-items: center; */
}

.content{
    height: 100vh;
    border: gray solid 2px;
    box-shadow: green -5px -5px -5px ;
    position: relative;
}

/* .title{
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
} */

.title{
    flex: 1 100vw;
}

.title > h1{
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.landing-table{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    position: absolute;
    top: 10%;
    transform: translateY(-10%);
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    /* vertical-align: middle; */
}

.box{
    background: white;
    opacity: 1;
    border: black 1px solid;
    border-radius: 5%;
    box-shadow: gray 5px 5px 1px;
    padding: 3%;
    margin: 10px;
    flex: 1 1 300px;
    flex: 0 1 300px;
}

/* .footer-container{
    display: flex;
    align-content: flex-end;
    vertical-align: bottom;
    width: 100vw;
}

footer{
    display: flex;
    align-content: flex-end;
    width: 100vw;
}

svg{
    aspect-ratio: "none";
} */