<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- creates const with value of the passed in context from views -->
    <script>
        var deck = "{{cards.items|safe}}"
        // deck= JSON.parse(deck)
        // console.log("{{cards|safe}}")
        // const deck= "{{cards.0.id|safe}}"
    </script>
    <script type="text/javascript" src="{% static 'js/card.js' %}"></script>
</head>
<body>
    <div>
        <ul>
            {% for key, value in cards.items %}
            <li>
                <h1>{{value}}</h1>
                <h2>{{key}}</h2>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>