<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- creates const with value of the passed in context from views -->
    <script>
        const cat= "{{deck_cat}}"
    </script>

    <script type="text/javascript" src="{% static 'js/card.js' %}"></script>
</head>
<body>
    <div>
        <div>
            <h1>Card Quiz <span><a href="/">Home</a></span></h1>
        </div>
        <div>
            <h1 id="h1_question"></h1>
        </div>
    </div>
</body>
</html>