<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/card.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- creates const with value of the passed in context from views -->
    <script>
        const cat= "{{deck_cat}}"
    </script>

    <script type="text/javascript" src="{% static 'js/card.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="title">Flash Cards</h1>
            <h1 class="sub">{{deck_cat}}</h1>
        </div>

        <div class="card-container">
            <div class="card">
                <div class="front">
                    <h1 id="h1_question"></h1>
                </div>
                <div class="back">
                    <h1 id="h1_answer"></h1>
                </div>
            </div>
        </div>

        <div class="button-container">
            <a href="/categories"><button>Back</button></a>
            <button id="btn_prev">Prev Card</button>
            <button id="btn_next">Next Card</button>
        </div>
    </div>
</body>
</html>