<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Card</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/newCard.css' %}">
</head>
<body>
    <div>
        <div>
            <h1>Create A New Card</h1>
            <a href="/">Home</a>
        </div>
        <div>
            <form action="addcard" method="post">
                {% csrf_token %}
                <label for="category">Category</label>
                <input type="text" name="category" id="category-input">
                <br>

                <label for="question">Question</label>
                <input type="text" name="question" id="question-input">
                <br>

                <label for="answer">Answer</label>
                <input type="text" name="answer" id="answer-input">
                <br>

                <input type="submit" value="Add Card">
            </form>
        </div>
    </div>
</body>
</html>